---
layout: not_homepage
quote: An investment in knowledge pays the best interest.
author: Benjamin Franklin
---

{% include quote.html quote=page.quote author=page.author %}

<div class="container about_section">
  <div class="row">
    <img src="/assets/images/profile_picture.jpg" class="col m2 s3 responsive circle about_img" alt="me">
    <div class="about_paragraph">
      <p>
        Hello, my name is Chani Thakkar and I am a Business Data Analytics Analyst.
      </p>
      <p>
        Born in a small city in the central part of India, I was raised by my single Mother who encouraged me to be independent and make a living for myself. It’s for that reason, I decided to further my education and move to New York City to pursue my master’s in information systems (majoring in Data Analytics). Over the past 1 year, I have successfully adapted to a completely new culture and environment while undergoing internships at Retensa as a Software Management Information Systems(MIS) Associate and at Pulse Commerce as a Business Strategy Intern. 
      </p>
      <p>
        I offer a budding MIS in Data Analytics, MBA in finance, Bachelor of Engineering and more than 3.5 years of experience in Business and Data Analysis. I have worked in fast-paced industries like financial technology and e-commerce, implemented various solutions/research related to ICICI Prudential's health insurance Product, Pulse Commerce's ambitious algorithm to revolutionize Amazon's distribution paradigm and utilized Excel and data visualization tools like Tableau to implement projects using large datasets. 
      </p>
      <p>
        I have completed more than 12 projects (including data analysis and business analysis) with possible impact ranging from USD 1000 to USD 10000 while managing 4 resources and delivering valuable insights to stakeholders. Core competencies include data analytics, data visualization, business analysis, software design, quality assurance, excellent communication skills, presentation skills, creative, requirement gathering and documentation. 
      </p>
      <p>
        I am now looking for my next adventure, so feel free to browse the website, explore my projects and view my growing list of certifications.
      </p>
    </div>
  </div>
  <h3 class="heading skills_heading center-align"><u>SKILLS</u></h3>
  <div class="skills_wrapper">
      {% for tech_group in site.data.skills %}
        <div class="skill_group">
          <div class="col m4 s6">
            <h4 class="heading"><u>{{tech_group.name}}</u></h4>
            <div class="skills">
              {% for tech in tech_group.skills %}
              <i class="about_skill_icon devicon-{{tech.class}}"></i><span class="skill_names">{{tech.skill_name}}</span><br/>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
</div>
